.modalWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 1, 1, 0.2);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #D9D9D9;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.closeModal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.line {
    height: 3px;
    width: 20px;
    background-color: black;
    transform: translateY(3px) rotate(45deg);
}

.line:nth-child(2) {
    transform: rotate(-45deg);
}

.loginButton {
    all: unset;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: #0077b7;
    color: white;
}