.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
}

.logo {
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 2rem;
}

.btn {
    all: unset;
    color: black;
}