.videoCard {
    flex: 1;
    min-width: 300px;
}

.video {
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-color: black;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetails {
    background-color: white;
    padding: 1rem;
    min-height: 250px;
}

.activeCircle {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #1860ED;
    border-radius: 100%;
}

.userName {
    font-size: 2.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userDetails p,
.socialLink {
    font-size: 1.2rem;
}

.extraDetails {
    margin-top: 1rem;
}